@{
    ViewData["Title"] = "Aggiungi pizza";
    Layout = "_Layout";
}


<div class="container">
    <div class="mb-3">
        <strong>Nome:</strong>
        <input id="name" class="d-block w-100" />
        <span id="nameValidation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Immagie:</strong>
        <input id="image" class="d-block w-100" />
        <span id="imageValidation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Descrizione:</strong>
        <input id="description" class="d-block w-100" />
        <span id="descriptionValidation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Prezzo:</strong>
        <input id="price" class="d-block w-100" />
        <span id="priceValidation" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <strong>Categoria:</strong>
        <select id="category" rows="10" class="d-block w-100">
        </select>
    </div>
    <div class="text-end">
        <input type="button" class="btn btn-small btn-info" value="Aggiungi pizza" onclick="creaPizza()">
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/API/create.js"></script>
}